body {
	height: 100%;
	margin: 0;
	text-align: center;
	background-image: url(https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
	background-size: cover;
}

h1 {
	font-size: 32px;
  font-family: 'Modak', cursive;
}

h2 {
	padding: 250px 0;
	margin: 30px;
	font-size: 56px;
	color: #FF7E00
}
p {
font-size: 20px;
}

.Yuck{
	padding: 250px 0;
	margin: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #FF0000;
	font-size: 250px;
	text-decoration: none;
}
