body {
	height: 100%;
	margin: 0;
	text-align: center;
}

h1 {
	font-size: 32px;
  font-family: 'Modak', cursive;
}

h2 {
	padding: 250px 0;
	margin: 30px;
	font-size: 56px;
	color: #ffffff
}
#footer{
  font-size: 0.75rem;
}


p {
font-size: 20px;
}

.Yuck{
	padding: 250px 0;
	margin: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #FF0000;
	font-size: 25px;
	text-decoration: none;
}
.Conclusion{
	padding: 250px 0;
	margin: 30px;
	font-family:'Comic sans', fantasy;
	color: #B0BF1A
	font-size 25px;
}
