body {
	height: 100%;
	margin: 0;
	text-align: center;
	background-image: url(https://img.freepik.com/free-photo/milky-way-starry-sky-background_34011-265.jpg?size=626&ext=jpg);
	background-size: cover;
}

h1 {
	font-size: 32px;
  font-family: 'Modak', cursive;
}

h2 {
	padding: 250px 0;
	margin: 30px;
	font-size: 56px;
	color: #FF7E00
}
p {
font-size: 20px;
}

.Yuck{
	padding: 250px 0;
	margin: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #FF0000;
	font-size: 250px;
	text-decoration: none;
}
